
h1{
	font-family: cursive;
	font-size: 50px;
}




.fieldset_player_information{
	width: 670px;
	margin:auto;
}

.legend_player_information{
	font-family: HelveticaNeue-Light;
	font-size: 120%;
	font-weight: 500;
}

.table_player_information{
	font-family: HelveticaNeue-Light;
	width: 670px;
	table-layout: fixed;
}





.fieldset_parent_information{
	width: 670px;
	margin:auto;
}

.legend_parent_information{
	font-family: HelveticaNeue-Light;
	font-size: 120%;
	font-weight: 500;
}

.table_parent_information{
	font-family: HelveticaNeue-Light;
	width: 670px;
	table-layout: fixed;
}





.fieldset_emergency_contact_information{
	width: 670px;
	margin:auto;
}

.legend_emergency_contact_information{
	font-family: HelveticaNeue-Light;
	font-size: 120%;
	font-weight: 500;
}

.table_emergency_contact_information{
	font-family: HelveticaNeue-Light;
	width: 670px;
	table-layout: fixed;
}







.fieldset_setup_your_account{
	width: 670px;
	margin:auto;
}

.legend_setup_your_account{
	font-family: HelveticaNeue-Light;
	font-size: 120%;
	font-weight: 500;
}

.table_setup_your_account{
	font-family: HelveticaNeue-Light;
	width: 670px;
	table-layout: fixed;
}





