
.breakfast_club_registration{
	
}

.fieldset_setup_your_account{
	width: 720px;
	margin:auto;
}

.legend_setup_your_account{
	font-family: HelveticaNeue-Light;
	font-size: 120%;
}

.element_setup_your_account_username_label{
	font-family: Courier New;
}

.element_setup_your_account_password_label{
	font-family: Courier New;
}

.element_setup_your_account_confirm_password_label{
	font-family: Courier New;
}

.fieldset_player_information{
	width: 720px;
	margin:auto;
}

.legend_player_information{
	font-family: HelveticaNeue-Light;
	font-size: 120%;
}

.element_player_information_first_name_label{
	font-family: Courier New;
}

.element_player_information_last_name_label{
	font-family: Courier New;
}

.element_player_information_date_of_birth_label{
	font-family: Courier New;
}

.element_player_information_email_address_label{
	font-family: Courier New;
}

.element_player_information_phone_number_label{
	font-family: Courier New;
}










.fieldset_parent_information{
	width: 720px;
	margin:auto;
}

.legend_parent_information{
	font-family: HelveticaNeue-Light;
	font-size: 120%;
}

.element_parent_information_first_name_label{
	font-family: Courier New;
}

.element_parent_information_last_name_label{
	font-family: Courier New;
}

.element_parent_information_home_phone_label{
	font-family: Courier New;
}

.element_parent_information_cell_phone_label{
	font-family: Courier New;
}

.element_parent_information_email_address_label{
	font-family: Courier New;
}













.fieldset_emergency_contact_information{
	width: 720px;
	margin:auto;
}